@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/Content/styles.css" /> <!-- Caminho para o CSS -->

<main>
    <section class="about-us">
        <h1>Sobre o iHelpU</h1>
        <p>
            O iHelpU nasceu da necessidade de conectar pessoas que precisam de serviços com profissionais qualificados de forma rápida e confiável.
            Com o aumento da demanda por serviços especializados, percebemos que muitas pessoas enfrentavam dificuldades para encontrar prestadores de serviços que atendessem às suas necessidades específicas.
        </p>
        <p>
            O aplicativo foi desenvolvido por uma equipe de estudantes apaixonados por tecnologia e inovação, com o objetivo de simplificar o processo de contratação de serviços.
            Nossa missão é facilitar a vida dos usuários, permitindo que encontrem profissionais especializados em áreas como construção, jardinagem, limpeza e muito mais, tudo em poucos cliques.
        </p>
        <p>
            Além disso, o iHelpU oferece um sistema de avaliação mútua, onde tanto os clientes quanto os prestadores de serviços podem deixar feedbacks sobre suas experiências.
            Isso promove transparência e confiança, garantindo que todos tenham acesso a informações valiosas ao contratar serviços.
        </p>
        <p>
            Com uma interface amigável e fácil de usar, o iHelpU está disponível para todos que desejam encontrar ajuda para seus projetos ou que desejam oferecer seus serviços.
            Se você é um profissional que deseja expandir sua rede de contatos ou um cliente em busca de qualidade e eficiência, o iHelpU é a solução ideal para você.
        </p>
        <p>
            Junte-se a nós e faça parte dessa comunidade em crescimento! Conecte-se com profissionais, compartilhe suas habilidades e descubra como o iHelpU pode transformar a sua experiência ao contratar serviços.
        </p>
    </section>
</main>
